@import "../../styles/variable";

.welcome_banner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 14.66%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../../public/photo_2023-09-21_22-28-28.jpg"),
    lightgray -7px -139.042px / 114.99% 162.728% no-repeat;
  width: 100%;
  height: 571px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-size: 115%;
  background-position: left;
  background-position-y: 34%;
  position: relative;

  .welcome_text_content {
    color: var(--color-white, #fff);
    max-width: 523px;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    h1 {
      color: var(--color-white, #fff);
      font-family: "Inter", sans-serif;
      font-size: 45px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -2.05px;
      margin-bottom: 20px;
    }
    h4 {
      color: var(--color-white, #fff);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
  .founder {
    position: absolute;
    padding: 30px 45px 30px 30px;
    width: 285px;
    height: 149px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    background: var(--color-background, #f1efec);
    h2 {
      color: var(--color-black, #000);
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 20px;
    }
    h5 {
      color: var(--color-text, #6c6c6a);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .welcome_banner {
    background-size: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .welcome_text_content {
    padding-top: 30px !important;
    padding-left: 30px !important;
    max-width: 321px !important;
    h1 {
      @include sizer(26px !important);
    }
  }
  .founder {
    width: 246px !important;
    height: 126px !important;
    padding: 20px 35px 20px 20px !important;
    bottom: 20px !important;
    right: 20px !important;
    h2 {
      @include sizer(20px !important);
    }
  }
}
@media only screen and (max-width: 897px) {
  .welcome_banner {
    background-size: 130% !important;
    .welcome_text_content {
      padding-top: 25px !important;
      padding-left: 25px !important;
    }
  }
  .founder {
    bottom: 15px !important;
    right: 15px !important;
  }
}
@media only screen and (max-width: 666px) {
  .welcome_banner {
    height: 780px !important;
    background-size: 300% !important;
    background-position: top !important;
  }
}
@media only screen and (max-width: 425px) {
  .welcome_banner {
    background-size: 365% !important;
  }
  .founder {
    bottom: 10px !important;
    right: 10px !important;
  }
}
