.card_container {
  width: 100%;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card_name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    p {
      color: var(--color-black, #000);
      font-family: "Inter", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p:last-child {
      font-size: 18px;
    }
  }

  .card_details {
    .card_detail_wrapper {
      display: flex;
      margin: 6.5px 0;
      img {
        width: 20px;
        height: 20px;
      }
    }

    span {
      display: flex;
      align-items: center;
      margin-right: 20px;
      color: var(--color-text, #6c6c6a);
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      .card_icons {
        margin-right: 10px;
      }
    }
    span:last-child {
      margin-right: 0;
    }
  }
}

.card_wrapper_img {
  width: 413px;
  height: 270px;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  .card_wrapper_img {
    width: 315px;
    height: 236px;
  }
  .card_container {
    .card_name {
      margin-top: 12px;
      p {
        font-size: 20px;
      }
      p:last-child {
        font-size: 18px;
      }
    }
    .card_details {
      span {
        margin-right: 16px;
        .card_icons {
          margin-right: 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .card_wrapper_img {
    width: 362px;
  }
}
