@mixin sizer($size) {
  color: var(--color-black, #000);
  font-family: 'Inter', sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin button {
  display: flex;
  justify-content: center;
  height: 41px;
  background-color: var(--color-black, #000);
  color: var(--color-background, #f1efec);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
