@import url("https://rsms.me/inter/inter.css");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  background: var(--color-background, #f1efec);
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h3 {
  font-weight: 700;
}

p,
input {
  font-weight: 300;
}

ol,
ul {
  list-style-type: none;
}

button,
input,
select {
  border-radius: 0;
  text-align: inherit;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

.ant-drawer-wrapper-body {
  animation: drawerFadeIn 0.3s ease-in-out !important; /* Имя анимации, длительность и эффект */
  transition: opacity 0.3s ease-in-out !important; /* Плавное изменение прозрачности */
}
.ant-drawer-header-title {
  display: flex !important;
  justify-content: end !important;
}

.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: black !important;
    border-color: black !important;
  }
  .ant-checkbox-inner:hover {
    border: 1px solid black !important;
  }
}

.ant-checkbox-input:hover {
  border-color: black;

}

.header_slider.swiper-slide {
  width: 433px !important;
}

.ant-select-selector {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.ant-select-dropdown {
  background-color: #f1efec !important;
  border-radius: 0 !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  width: 100%;
}
.ant-select-item-option-active {
  background-color: #dfdad8 !important;
}
.ant-tabs-nav-list {
  position: relative !important;
  display: flex !important;
  width: 100% !important;

  .ant-tabs-tab {
    flex: 1 !important;
    font-size: 18px !important;
    color: black !important;
    justify-content: center !important;
  }
  .ant-tabs-ink-bar {
    background-color: black !important;
  }
  .ant-tabs-tab-active {
    color: black !important;

    .ant-tabs-tab-btn {
      color: black !important;

      &::after {
        content: "";
        position: absolute !important;
        left: 0 !important;
        bottom: -2px !important;
        width: 100% !important;
        background-color: black !important;
      }
    }
  }
}
.ant-collapse-content-box {
  padding: 0 !important;
  .ant-collapse-header {
    padding: 15px 20px !important;
  }
  .ant-collapse-content {
    .ant-collapse-content-box {
      padding: 15px 20px !important;
    }
  }
}

.build_swiper {
  width: 100%;
}

.swiper-scrollbar {
  display: none;
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  height: 2px !important;
  background: var(--color-grey-dark, #a3a3a3) !important;
  position: absolute !important;
  top: 0 !important;
}
.swiper-scrollbar-drag {
  background: var(--color-black, #000) !important;
}

@media only screen and (max-width: 1024px) {
  .swiper {
    padding-top: 26px !important;
  }
  .swiper-scrollbar {
    display: block !important;
  }
}

@media only screen and (max-width: 428px) {
  .swiper {
    padding-top: 16px !important;
  }
  .swiper-scrollbar {
    height: 1px !important;
  }
}
